@charset "UTF-8";
	
body{
	 background: #00B8DE; 
}

.ReponseCorrecte{
    color:green !important;
}

.ReponseFausse{
    color:red !important;
}


.merci 
{
    margin: 10 px;
	position: absolute;
	top: 33%; 
	transform: translate(0%, -50%);
	overflow-x: auto;
}

input{
	background-color: #FF9900;
}

.table_espacee{
	margin-top: 20px;
}

.lien_home{
	color: white;
}
