@charset "UTF-8";


.grids,
.grids .row {
    height: 88.5vh;
	width: 100vw;
}

.brand-centered {
     display: block;
    position: relative;
    width: 100%; 
    height: 40vh;
    line-height: 1em;
    margin: 0;
    font-size: 12px;
    float: none;
}

.brand-centered {}

/*tamanho dos itens da grid - começa*/
.grid-item {
    display: block;
    position: relative;
    width: 25%;
    height: 33.33333333333333%;
    line-height: 1em;
    margin: 0;
    font-size: 12px;
    float: left;
    overflow: hidden;
}

/*.grid-item:before {
    content: "";
    display: block;
    padding-top: 100%;
}*/

.grid-item>.content {
    /*position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
    background: black;
    padding: 0px;
    height: 100%;
    line-height: 1em;
    opacity: 1;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.grid-item>.content .bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.grid-item>.content .caption {
    background-color:#666;
    width: 100%;
    width: calc(100% + 1px);
    height: 100%;
    height: calc(100% + 1px);
    color: white;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    opacity:0;
}

.grid-item>.content .caption {
    display: table;
    vertical-align: middle;
}

.grid-item>.content .caption .text {
    display: table-cell;
    vertical-align: middle;
}

.grid-item:hover .content1{
    opacity:1;
	background-color: #00B8DE;
} 

.grid-item:hover .content1 .caption{
    opacity:1;
	background-color: #00B8DE;
}

.grid-item:hover .content2{
    opacity:1;
	background-color: #F39C12;
} 

.grid-item:hover .content2 .caption{
    opacity:1;
	background-color: #F39C12
}

/*tamanho dos itens da grid - termina*/

.home .nav .current{
    display: none;
}

span.calltoaction a {
    width:45px;
	height:45px;
	position: absolute;
	top:0;
	right:0;
	background : 
		linear-gradient(
			225deg, 
			#fff, 
			#f3f3f3 45%, 
			#ddd 50%, 
			#aaa 50%, 
			#bbb 56%, 
			#ccc 62%, 
			#f3f3f3 80%,
			#fff 100%
		);
	box-shadow : 0 0 10px rgba(0,0,0,0.5);
	transition: all .5s ease;
	color: #fff;
	text-indent: 9999px;
	font-size: 24px;
	padding-top: 1em;
	padding-right: 1em;
	text-align:right;
	text-decoration:none;
}

span.calltoaction a:before,
span.calltoaction a:after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 12.5%;
	bottom: 5.8%;
	width: 70%;
	max-width: 300px;
	max-height: 100px;
	height: 55%;
	box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
	transform: skew(-10deg) rotate(-6deg);
}

span.calltoaction a:after {
	left: auto;
	right: 5.8%;
	bottom: auto;
	top: 14.16%;
	transform: skew(-15deg) rotate(-84deg);
}

span.calltoaction a:hover {
	width: 35%;
	height: 35%;
	color: #666;
	text-indent:0;
}

span.calltoaction a:hover:before,
span.calltoaction a:hover:after {
	box-shadow: 0 24px 30px rgba(0, 0, 0, 0.3);
}
